@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --white: #FBFBFB;
    --black: #1E1A1D;
    --brown: #B47150;

    font-family: 'Inter', sans-serif;

}

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

button {
    background: var(--brown);
    color: #FFF;
}

.logo {
    display: flex;
}

.container {
    display: flex;
    flex-direction: column;
}

.sobre {
    display: flex;
    flex-wrap: wrap;
}

.hero-text {
    box-sizing: border-box;
    width: 620.613px;
    height: 356px;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin: 20px;
}

.hero-img {
    box-sizing: border-box;
    width: 548px;
    height: 356px;
    flex-shrink: 0;
    border-radius: 4px;
    margin: 20px;
}

h3 {
    text-align: center;
}

.cafes {
    display: flex;
    flex-wrap: wrap;
}

.cafe {
    width: 300px;
    height: 380px;
    flex-shrink: 0;
    background: #E8E5E4;
    display: flex;
    flex-direction: column;
}

.cafe__imagem {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
}